<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bonjour</title>
</head>

<body>
    {% for product in products %}
        <span>{{ product }}</span>
        {% if loop.index ==3 %}
            <br>
        {% endif %}
    {% endfor %}
    {{ dump(products) }}
</body>
</html>